*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;

}
#container{
    display: grid;
}
#Brand{
    font-weight: 700;
    font-size: 400%;
    text-decoration: none;
    color: #000;
}
.product{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
}
.product img{
    width: 30%;
}



@media screen and (max-width: 1000px) {
    #container{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media screen and (max-width: 600px) {
    #container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    #container{
        grid-template-columns: repeat(3, 1fr);
    }
}

#cart-product{
    border: 1px solid grey;
    border-radius:  0.5rem;
    background-color: #fff;
    top: 59px;
    right: 0rem;
    left: -16rem;
    position: absolute;
    padding: 10px;
    text-align: left;
}

#cart-product::before{
    content:"";
    border: transparent solid 16px;
    border-bottom: solid #000 16px;
    position: relative;
    top: -2.7rem;
    left: 15.8rem;
    z-index: -1;

}

header{
    display: flex;
    justify-content: space-between;
}
.hide{
    display: none;
}

#cart{
    position: relative;
    width: 80px;
    padding: 10px;
    margin-right: 1px;
    transition: all .07s ease-in-out;
    cursor: pointer;
}
#cart-button{
    background: none;
    border: none;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.cart-products img{
    width: 40%;
}

/*#cart:hover{
    width: 90px;
    margin-left: 10px;
    padding: 10px;
    position: absolute;
}*/